<div class="row">
  <div class="col-md-6">
    <h2>Don't see what you are looking for?</h2>
    Add a new movie to our database. We absolutely encourage it !
    <span class="btn btn-success"><%= link_to "Add Post", new_post_path, {:style=>'color:#FFFFFF;'} %></span>
  </div>
  <div class="col-md-6">
    <br/>
    <span id="search">Search <%= text_field_tag :name %></span>
  </div>
</div>
<br/>
<div id="posts">
  <%= render 'post' %>
</div>

<%= will_paginate @posts %>
