<table>
  <tr><td><%= image_tag @post.image.url %></td></tr>
  <tr><td>Name</td><td><%= @post.name %></td></tr>
  <tr><td>Year</td><td><%= @post.year %></td></tr>
  <tr><td>Review</td><td><%= @post.review %></td></tr>
</tr>
</table>