/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
img {
  height: 300px;
  width: 200px;
}

#dataTable td {
    text-align: center;
    vertical-align: middle;
}

#tableImage {
  padding-left: 0px;
}

#post-name {
  font-size: 250%;
  font-weight: bold;
}

#search {
  float: right;
}

#logo_container img {
  max-height: 100px;
  max-width: 100px;
}

#comment {
  font-size: 20px;
  float: left; 
  width: auto;
}

#reply {
  font-size: 15px;
}

.tabspace {
  text-indent: 1em;
}

.commentbtn {
  font-size: 18px;
}

.inlinecontentspacing {
  display: inline-block;
  text-indent: 1em;
}